# =========================
# FRONTEND (React / Vite)
# =========================
frontend/**/node_modules/
frontend/**/MIGRATION_PLAN.md
frontend/**/ROUTING_PLAN.md
frontend/**/dist/
frontend/**/build/
frontend/**/.env
frontend/**/.env.local
frontend/**/.env.production
frontend/**/.md
frontend/**/.docx
frontend/**/.puml
frontend/Web_GoCarbonPositive/docs/
frontend/Web_GoCarbonPositive/flow diagram/
frontend/Web_GoCarbonPositive/Frontend_Architecture_Report_GoCarbonPositive.docx
frontend/Web_GoCarbonPositive/Frontend_Architecture_Report_GoCarbonPositive.md
frontend/Web_GoCarbonPositive/~$ontend_Architecture_Report_GoCarbonPositive.docx
node_modules/pandoc/



# =========================
# BACKEND (React / Vite)
# =========================
backend/**/node_modules/
backend/**/dist/
backend/**/build/
backend/**/.env
backend/**/.env.local
backend/**/.env.production

# =========================
# PHOTOS (ignore raw uploads if needed)
# =========================
photos/
!photos/.gitkeep

frontend/**/.md
frontend/**/.docx
frontend/**/.puml



# =========================
# LOGS
# =========================
*.log
npm-debug.log*
yarn-error.log*

# =========================
# SYSTEM / IDE
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
# Root level node modules (you have a root folder too)
node_modules/
package-lock.json
yarn.lock

# Vite cache
frontend/**/.vite/
frontend/**/.cache/

# Sanity / PortableText temp
**/.sanity/


backup.sql